@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(55 65 81);
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  min-height: 100vh;
  /* min-width: 100vh; */

  display: flex;
  align-items: center;
  justify-content: center;
}
